:root {
    --hover-btn: #30C88F;
    --active-btn: #2D314D;
    --footer-color: #2D314D;
    
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Public Sans";
}

.container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 165px;
}

/* Header */

.header-container {
    width: 1440px;
    display: flex;
    height: 5em;
    flex-shrink: 0;
    align-items: center;
    line-height: 5em;
    justify-content: space-between;
    position: fixed;
    margin-left: 50%;
    transform: translateX(-50%);
    box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.315);
    z-index: 0;
}

.header-container-navigation {
    margin-left: 20px;
    margin-right: 40px;
}

.navigation__items {
    display: flex;
    list-style: none;
    gap: 1.875em;
}

.navigation-items__item:hover {
    border-bottom: 2px solid #33D35E;
}

.header-container__link {
    text-decoration: none;
    color: #9597A5;
    font-family: "Public Sans";
    font-size: 0.875em;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.108px;
}

.second-navigation__items {
    list-style: none;
}

.main__btn {
    border-radius: 1.375em;
    background-color: #33D35E;
    padding: 0.6em 2em;
    color: #FFF;
    font-family: "Public Sans";
    font-size: 0.875em;
    font-style: normal;
    font-weight: 500;
    line-height: 1.75em;
    text-decoration: none;
    border: none;
}

.main__btn:hover {
    background-color: var(--hover-btn);
}

.main__btn:active {
    background-color: var(--active-btn);
}

@media only screen and (max-width: 992px) {
    .container {
        max-width: 992px;
        padding: 0 80px;
    }

    .header {
        font-size: 14px;
    }

    .header-container {
        gap: 100px;
        line-height: 80px;
    }

    .navigation__items {
        gap: 15px;
    }

    .main__btn {
        font-size: 1em;
    }
}

@media only screen and (max-width: 756px) {
    .container {
        max-width: 756px;
        padding: 0 30px;
    }

    .header {
        font-size: 12px;
    }

    .header-container {
        gap: 100px;
        padding: 0 50px;
    }

    .header-container__image {
        margin-left: 50%;
    }

    .header-container-navigation {
        display: none;
        width: 24px;
        height: 11px;
        flex-shrink: 0;
        background: url(../images/toggler-open.svg);
    }

    .second-navigation {
        display: none;
    }
}

/* Hero-container */

.main {
    font-size: 16px;
}

.hero-container {
    display: flex;
    padding: 0;
    background-repeat: no-repeat;
    justify-content: space-between;
}

.left-box {
    margin-top: 10.625em;
    margin-left: 10.3125em;
}

.hero-container__heading {
    width: 394px;
    color: #2D314D;
    font-family: "Public Sans";
    font-size: 56px;
    font-style: normal;
    font-weight: 100;
    line-height: 64px;
    letter-spacing: -1px;
}

.hero-container__text {
    width: 27.9375em;
    color: #9597A5;
    font-family: "Public Sans";
    font-size: 1.125em;
    font-style: normal;
    font-weight: 400;
    line-height: 1.75em;
    letter-spacing: -0.281px;
    margin-top: 1.5em;
    opacity: 0.8;
}

.right-box {
    width: 728.565px;
    height: 899.99px;
    flex-shrink: 0;
    background: url(../images/hero-phones-desktop.svg);
    background-size: cover;
}

.hero-container__btn {
    margin-top: 2.25em;
}

@media only screen and (max-width: 992px) {
    .main {
        font-size: 14px;
    }

    .hero-container {
        margin: 0 auto;
    }

    .right-box {
        display: none;
    }
}

@media only screen and (max-width: 756px) {
    .main {
        font-size: 12px;
    }

    .hero-container {
        flex-direction: column-reverse;
    }

    .right-box {
        display: block;
        width: 100%;
    }
}


/* choose-container */

.choose-container {
    padding: 6em 10.3125em;
}

.choose-container__heading {
    color: #2D314D;
    font-family: "Public Sans";
    font-size: 40px;
    font-style: normal;
    font-weight: 100;
    line-height: 64px;
    letter-spacing: -0.714px;
}

.choose-container__text {
    width: 635px;
    color: #9597A5;
    font-family: "Public Sans";
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: -0.281px;
    margin-top: 16px;
    margin-bottom: 72px;
}

.choose-container__items {
    display: flex;
    gap: 30px;
    list-style: none;
}

.choose-container__item--heading {
    color: #2D314D;
    font-family: "Public Sans";
    font-size: 24px;
    font-style: normal;
    font-weight: 100;
    line-height: 28px;
    letter-spacing: -0.429px;
    margin-top: 40px;
    margin-bottom: 26px;
}

.choose-container__item--text {
    color: #9597A5;
    font-family: "Public Sans";
    font-size: 1em;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: -0.25px;
    width: 15.9375em;
    margin: 0 auto;
}

@media only screen and (max-width: 992px) {
    .choose-container {
        text-align: center;
    }

    .choose-container__items {
        display: flex;
        flex-direction: column;
    }
}

@media only screen and (max-width: 756px) {
    .choose-container {
        text-align: center;
    }

    .choose-container__heading {
        text-align: left;
    }

    .choose-container__text {
        text-align: left;
    }

    .choose-container__items {
        display: flex;
        flex-direction: column;
    }

}

/* article-container */

.article-container__heading {
    color: #2D314D;
    font-family: "Public Sans";
    font-size: 2.5em;
    font-style: normal;
    font-weight: 100;
    line-height: 4em;
    letter-spacing: -0.714px;
    margin-bottom: 2.5em;
}

@media only screen and (max-width:992px) {
    .article-container {
        text-align: center;
    }
}

/* footer */

.footer {
    font-size: 16px;
}

.footer-container {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 3em 10.3125em;
    margin-top: 5em;
    background: var(--footer-color);
}

.first-box__items {
    display: flex;
    gap: 0.9375em;
    list-style: none;
    margin-top: 3.4375em;
}

.first-box__images {
    width: 1.875em;
    flex-shrink: 0;
}

.footer-container__items {
    list-style: none;
}

.footer-container__item--link {
    width: 10em;
    color: #FFF;
    font-family: "Public Sans";
    font-size: 0.9375em;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: -0.234px;
    text-decoration: none;
}

.footer-container__item--link:hover {
    color: #30C88F;
}

.footer-container__link-items {
    list-style: none;
}

.footer-right-box__text {
    color: #FFF;
    text-align: right;
    font-family: "Public Sans";
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: -0.234px;
    opacity: 0.5;
    margin-top: 24px;
}

@media only screen and (max-width: 992px) {
    .footer-container {
        display: flex;
        flex-direction: column;
        gap: 15px;
        text-align: center;

    }

    .footer__link {
        margin: 0 auto;
    }
}

@media only screen and (max-width: 756px) {
    .footer-container {
        display: flex;
        flex-direction: column;
        gap: 15px;
        text-align: center;

    }

    .footer__link {
        margin: 0 auto;
    }
}